<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="viewst.css ">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <p class="header-heading">Hệ thống quản lý sinh viên - Sinh Viên</p>
        <div class="header-user">
            <!-- <img th:src="@{/img/avatar.png}" alt="Avatar" class="header-avatar"> -->
            <img src="avatar.png" alt="Avatar" class="header-avatar">
            <p class="header-username" th:text="${teacher.name}">Phạm Việt Long</p>
        </div>
    </header>
    <div id="menu">
        <ul>
            <li>
                <span id="textmenu">MENU</span>
                <button id="toggleButton">☰</button>
            </li>
            <li>
                <a href="home.html" class="a-root">
                    <i class="fas fa-home"></i>
                    <span class="menu-item">Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="myinfor.html" class="a-root">
                    <i class="fas fa-user"></i>
                    <span class="menu-item">Thông tin cá nhân</span>
                </a>
            </li>
            <li>
                <a href="hocphan.html" class="a-root">
                    <i class="fas fa-wallet"></i>
                    <span class="menu-item">Học phần</span>
                </a>
            </li>
            <li>
                <a href="thoikhoabieu.html" class="a-root">
                    <i class="fas fa-tasks"></i>
                    <span class="menu-item">Thời khóa biểu</span>
                </a>
            </li>
            <li>
                <a href="guidanhgia.html" class="a-root">
                    <i class="fas fa-cog"></i>
                    <span class="menu-item">Hỗ trợ</span>
                </a>
            </li>
            <li>
                <a href="login.html" style="margin-top: 250px;" class="a-root"> 
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="menu-item">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
<div class="content">
    <p class="content-heading" style="position: relative; left: 40%;" ><b>Thời khóa biểu</b></p>
            <table class="schedule-list">
                <thead>
                    <tr>
                        <th>Thứ 2</th>
                        <th>Thứ 3</th>
                        <th>Thứ 4</th>
                        <th>Thứ 5</th>
                        <th>Thứ 6</th>
                        <th>Thứ 7</th>
                        <th>Chủ nhật</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                            	<p class="course-name" th:text="${teacherSchedule.courseName}">Phân tích thiết kế phần mềm</p>
                            	<p class="course-id" th:text="${teacherSchedule.courseId}">HP00001</p>
                            	<p class="course-time" th:text="${teacherSchedule.time}">Tiết 1, 2, 3</p>
                            	<p class="course-place" th:text="${teacherSchedule.room}">508-A9</p>
                            </div>
                        </td>
                        
                        <td>
                            <div th:each="teacherSchedule : ${teacherSchedules}" th:if="${teacherSchedule.date == 'Thứ 3'}">
                            	<p class="course-name" th:text="${teacherSchedule.courseName}">Phân tích thiết kế phần mềm</p>
                            	<p class="course-id" th:text="${teacherSchedule.courseId}">HP00001</p>
                            	<p class="course-time" th:text="${teacherSchedule.time}">Tiết 1, 2, 3</p>
                            	<p class="course-place" th:text="${teacherSchedule.room}">508-A9</p>
                            </div>
                        </td>
                        
                        <td>
                            <div th:each="teacherSchedule : ${teacherSchedules}" th:if="${teacherSchedule.date == 'Thứ 4'}">
                            	<p class="course-name" th:text="${teacherSchedule.courseName}">Phân tích thiết kế phần mềm</p>
                            	<p class="course-id" th:text="${teacherSchedule.courseId}">HP00001</p>
                            	<p class="course-time" th:text="${teacherSchedule.time}">Tiết 1, 2, 3</p>
                            	<p class="course-place" th:text="${teacherSchedule.room}">508-A9</p>
                            </div>
                        </td>
                        
                        <td>
                            <div th:each="teacherSchedule : ${teacherSchedules}" th:if="${teacherSchedule.date == 'Thứ 5'}">
                            	<p class="course-name" th:text="${teacherSchedule.courseName}">Phân tích thiết kế phần mềm</p>
                            	<p class="course-id" th:text="${teacherSchedule.courseId}">HP00001</p>
                            	<p class="course-time" th:text="${teacherSchedule.time}">Tiết 1, 2, 3</p>
                            	<p class="course-place" th:text="${teacherSchedule.room}">508-A9</p>
                            </div>
                        </td>
                        
                        <td>
                            <div th:each="teacherSchedule : ${teacherSchedules}" th:if="${teacherSchedule.date == 'Thứ 6'}">
                            	<p class="course-name" th:text="${teacherSchedule.courseName}">Phân tích thiết kế phần mềm</p>
                            	<p class="course-id" th:text="${teacherSchedule.courseId}">HP00001</p>
                            	<p class="course-time" th:text="${teacherSchedule.time}">Tiết 1, 2, 3</p>
                            	<p class="course-place" th:text="${teacherSchedule.room}">508-A9</p>
                            </div>
                        </td>
                        
                        <td>
                            <div th:each="teacherSchedule : ${teacherSchedules}" th:if="${teacherSchedule.date == 'Thứ 7'}">
                            	<p class="course-name" th:text="${teacherSchedule.courseName}">Phân tích thiết kế phần mềm</p>
                            	<p class="course-id" th:text="${teacherSchedule.courseId}">HP00001</p>
                            	<p class="course-time" th:text="${teacherSchedule.time}">Tiết 1, 2, 3</p>
                            	<p class="course-place" th:text="${teacherSchedule.room}">508-A9</p>
                            </div>
                        </td>
                        
                       <td>
                            <div th:each="teacherSchedule : ${teacherSchedules}" th:if="${teacherSchedule.date == 'Chủ nhật'}">
                            	<p class="course-name" th:text="${teacherSchedule.courseName}">Phân tích thiết kế phần mềm</p>
                            	<p class="course-id" th:text="${teacherSchedule.courseId}">HP00001</p>
                            	<p class="course-time" th:text="${teacherSchedule.time}">Tiết 1, 2, 3</p>
                            	<p class="course-place" th:text="${teacherSchedule.room}">508-A9</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
</div>
    <script>
        document.getElementById("toggleButton").addEventListener("click", function() {
        var menu = document.getElementById("menu");
        if (menu.classList.contains("expanded")) {
            menu.classList.remove("expanded");
        } else {
            menu.classList.add("expanded");
        }
    });
    document.getElementById("toggleButton").addEventListener("click", function() {
        var button = document.getElementById('toggleButton');
        var menu = document.getElementById('textmenu');
        
        if (button.style.transform === 'translateX(130px)') {
             button.style.transform = 'translateX(0)'; 
             menu.style.display === 'none';
            } else {
            button.style.transform = 'translateX(130px)';
            menu.style.display === 'block';
        }
    });
    
    </script>
</body>
</html>